<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="source"
			 connectionString="Data Source=(サーバー名/IPアドレス);Persist Security Info=True;User ID=(ユーザー名);Password=(パスワード)"
			 providerName="System.Data.SqlClient" />
		<add name="destination"
			 connectionString="Data Source=(サーバー名/IPアドレス);Persist Security Info=True;User ID=(ユーザー名);Password=(パスワード)"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>