<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="source"
			 connectionString="Data Source=DESKTOP-96B1GCN;Initial Catalog=AdventureWorks2019;Persist Security Info=True;User ID=sa;Password=P@ssword"
			 providerName="System.Data.SqlClient" />
		<add name="destination"
			 connectionString="Data Source=DESKTOP-96B1GCN\MSSQLSERVER01;Initial Catalog=AdventureWorks2019;Persist Security Info=True;User ID=sa;Password=P@ssword"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>